// Import external fonts and icons
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// Font variables
$font-family: 'Josefin Sans', sans-serif;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-300: 300;
$font-weight-200: 200;
$font-icon-size: 1rem;
$global-font-size-2: 1.6rem;
$global-font-size-20: 20px;

// Background and color variables
$sectionBackground: linear-gradient(to right, #2193b0, #6dd5ed);
$itemBackground: linear-gradient(to right, #cc2b5e, #753a88);
$global-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.45);
$global-input-background: linear-gradient(to right, #81203f, #410654);
$global-operator-Background: linear-gradient(to right, #d8bdc6, rgb(233, 227, 172));
$global-number-pad-color: linear-gradient(to right, #e28ea9, #d58eec);
$global-operator-color: #236372;
$global-icn-btn: #c194a2;
$global-calculation-color: #eecad6;
$global-input-color: #e9d0d8;

// Width and height variables
$global-width: 100%;
$global-width-90: 90%;
$global-height: auto;
$global-container-height: 37.5rem;

// Margin variable
$global-margin: 0 auto;

// Mixins
@mixin Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ThemeSwitch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2%;
}

@mixin IconMixer {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@mixin IconBtn {
  align-self: center;
  font-size: $font-icon-size;
  cursor: pointer;
}

// Reset CSS styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body styles
body {
  font-family: $font-family;
  font-weight: $font-weight-400;
}

// Hide the brightness-high icon
.bi-brightness-high-fill {
  display: none;
}

// Styles for the main section
section {
  width: $global-width;
  height: 100vh;
  background: $sectionBackground;
  transition: all 459ms ease;
  -webkit-transition: all 459ms ease;
  -moz-transition: all 459ms ease;
  -ms-transition: all 459ms ease;
  -o-transition: all 459ms ease;

  // Styles for the main content area
  main {
    width: $global-width-90;
    height: $global-height;
    margin: $global-margin;

    // Styles for the container
    .container {
      height: $global-container-height;
      @include Container;

      // Styles for the calculator
      .calculator {
        width: 270px;
        height: 450px;
        box-shadow: $global-box-shadow;
        background: $itemBackground;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

        // Styles for the theme switch
        .theme-switch {
          width: $global-width;
          height: 40px;
          @include ThemeSwitch;

          // Styles for the theme switch icon
          .icon {
            box-shadow: $global-box-shadow;
            @include IconMixer;

            // Styles for the icon button
            .icn-btn {
              @include IconBtn;
              color: $global-icn-btn;
            }
          }
        }

        // Styles for the calculator output
        .calculator-output {
          width: $global-width;
          height: 65px;

          // Styles for the calculation output field
          .calculation-output {
            outline: none;
            border: none;
            color: $global-calculation-color;
            background: $global-input-background;
            border-radius: none !important;
            -webkit-border-radius: none !important;
            -moz-border-radius: none !important;
            -ms-border-radius: none !important;
            -o-border-radius: none !important;
            box-shadow: none;
            font-size: $global-font-size-2;
            line-height: 1.6;
            text-align: right;
          }
        }

        // Styles for the calculator buttons
        .calculator-btn {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;

          // Styles for button sets
          .btn-set {
            margin-bottom: 3px;

            input {
              width: 57px;
              height: 57px;
              font-size: $global-font-size-20;
              font-weight: $font-weight-600;
              outline: none;
              border: none;
              color: $global-input-color;
              background: $global-number-pad-color;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;

              &.operator {
                background: $global-operator-Background;
                color: $global-operator-color;
              }
            }
          }
        }
      }
    }
  }
}
